extends layout

block content
    box
    box
    box
    box(animator bgurl="/images/LOOK-11-54.jpg" frames="54" frame-width="210" speed="50")
    ul
        li
            button(ng-click="show.social = !show.social") social
        li
            button(ng-click="show.sites = !show.sites") sites
        li
            button(ng-click="show.gifs = !show.gifs") gifs
        li
            button(ng-click="show.bio = !show.bio") bio
        li
            button(ng-click="show.persona = !show.persona") persona
          

    include social
    include sites
    include gifs
    include bio
    include persona