extends main

block content

	h2 about me
	.bio
		p i'm a new york based developer. i like javascript and cooking and design, but not flat design. i studied analytic philosophy and collect contemporary art.
