extends layout

block content
    box(animator bgurl="/images/LOOK-11-54.jpg" frames="54")
    ul
        li
            button(ng-click="show.social = !show.social") social
        li
            button(ng-click="show.sites = !show.sites") sites
        li
            button(ng-click="show.gifs = !show.gifs") gifs
        li
            button(ng-click="show.bio = !show.bio") bio

    // ng-include(src="sites" ng-show="{{show.sites}}")
    // ng-include(src="social" ng-show="{{show.social}}")
    // ng-include(src="gifs" ng-show="{{show.gifs}}")
    // ng-include(src="bio" ng-show="{{show.bio}}")

    include social
    include sites
    include gifs
    include bio