extends layout

block content
    animator(bgurl="'/images/LOOK-11-54.jpg'" frames="54")
    ul 
        li
            a(href="/social") social
        li
            a(href="/gifs") gifs
        li
            a(href="/sites") sites
        li
            a(href="/bio") bio
