doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        script(src='/vendor/angular/angular.js')
        script(src='/scripts/f.js')
        script(src='/scripts/controllers/controller.js')
        script(src='/scripts/directives/animator.js')
    body(ng-app='app' ng-controller='Main')
        block content