doctype html
html
	head
		title forrest almasi
		script(src='//localhost:9091')
		link(rel='stylesheet', href='/styles/min.css')
		meta(name='google-site-verification' content='sNvE9j205i4ZbxPeVVZhNEEoolZlm_rPyw9GNcA_VOI')
		meta(name='description' content='Personal Website For Forrest Almasi')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
	body(style='background: url("/images/marble/#{marble}")')
		block content
