extends main

block content

    h2 hi i'm forrest
    ul
        li
            a(href='/bio') click here to read about me
        li
            a(href='/links') click here to see my links
        li
            a(href='/press') click here to see me in the press
        li
            a(href='/friends') click here to see my friends
        li
            a(href='/guestbook') click here to sign my guestbook
