doctype html
html
    head
        title forrest almasi
        link(rel='stylesheet', href='/styles/parking.css')
        meta(name='google-site-verification' content='sNvE9j205i4ZbxPeVVZhNEEoolZlm_rPyw9GNcA_VOI')
    body(style='background: url("/images/marble/#{marble}")')
        h2 hi i'm forrest this is my website please enjoy these links
        ul
            li 
                a(href='mailto:_@forrestalmasi.com') _@forrestalmasi.com
            li
                a(href='http://twitter.com/forrestalmasi') twitter.com/forrestalmasi
            li
                a(href='http://twitter.com/everyphotoshop') twitter.com/everyphotoshop
            li
                a(href='http://raretides.tumblr.com') raretides.tumblr.com
            li
                a(href='http://raretines.tumblr.com') raretines.tumblr.com
            li
                a(href='https://github.com/malls') github.com/malls
            li
                a(href='http://isitflagday.us/') isitflagday.us
            li
                a(href='http://gardenparty.club') gardenparty.club