ul(ng-if="show.sites")
    li
        a(href="") Color Generator 
        br
        span random color generator
        br
        br
    li
        a(href="http://gardenparty.club") Garden Party Club 
        br
        span real time collaborative collaging site
        br
        br
    li
        a(href="http://athenadenos.com") Athena Denos Artist Website 
        br
        span artist website for Athena Denos
        br
        br
    li
        a(href="http://define-divine.com") Define Devine 
        br
        span Artwork by 
        a(href="http://rachelwark.com") Rachel Wark
