div(ng-if="show.sites")
    box
        a(href="") Color Generator 
        br
        span random color generator
        br
        br
    box
        a(href="http://gardenparty.club") Garden Party Club 
        br
        span real time collaborative collaging site
        br
        br
    box
        span artist website for #[a(href="http://athenadenos.com") Athena Denos]
        br
        br
    box
        a(href="http://define-divine.com") Define Devine 
        br
        span Artwork by #[a(href="http://www.rachelwark.com") Rachel Wark]
