div(ng-if="show.social")
    box
        a(href="http://github.com/malls") github
    box
        a(href="http://twitter.com/forrestalmasi") twitter
    box
        a(href="http://raretides.tumblr.com") tumblr
