body {
    background: url('/images/08_diamondplate.png');
    font-size: 1.5em;
    margin: 0 auto;
}

div {
    margin: 10px 10px 10px 10px;
    border: 1px dotted cornflowerblue;
    position: absolute;
    right: 0;
    height: 100px;
    width: 100px;
    background-position: 0px 0px;
}