body {
    background: url('/images/08_diamondplate.png');
    font-size: 1.5em;
    margin: 0 auto;
}

div {
    margin: 10px 10px 10px 10px;
    height: 100px;
    width: 100px;
    display: inline-block;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    padding-right: 19px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-style: dotted;
    border-width: 5px;
}

a:link {
    color: pink;
}

a:visited {
    color: cornflowerblue;
}
